.home {
  text-align: center;
  padding: 50px;
  background-size: cover;
}

.home h1 {
  font-size: 3rem;
  color: white;
}

.home p {
  font-size: 1.5rem;
  color: white;
}

.home a {
  font-size: 1.2rem;
  color: #ff6347;
  text-decoration: none;
}
